/*
beige : #E2D9C8;
gris : #333;
*/
body {
	font-family: Arial, sans-serif;
	margin: 8px 0 0;
	padding: 0;
}
/* Page layout */
.wrapper {
    max-width: 880px;
    min-width: 650px;
    margin: 0 auto;
}
/* Generic elements */
table {
	border: 1px solid #777;
	border-collapse: collapse;
}
table td,
table th {
	border: 1px solid #777;
	padding: 3px 5px;
}
a {
	color: #4D87CE;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
/* Authentication header layout */
#auth-header table {
	border: 0;
}
#auth-header table td,
#auth-header table th {
	border: 0;
	padding: 0;
}
#header_logo {
    padding-bottom: 0px;
    width: 60px;
}
#header_logo img {
    width: 60px;
}
#header_score {
    width: 140px;
    padding-bottom: 10px;
}
#header_time {
    width: 160px;
    padding-bottom: 10px;
}
#header_button {
    width: 310px;
    text-align: right;
    padding-bottom: 10px;
}
#header_button input[type=button] {
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}

/* General header layout */
#header {
	border-bottom: 1px solid #B47238;
	margin-bottom: 10px;
}
#header .wrapper {
	display: table;
	width: 100%;
}
#header-logo {
	width: 60px;
}
#navigation {
	text-align: right;
    display: table-cell;
    vertical-align: bottom;
    margin: 0;
    padding: 0;
}
#navigation li {
	display: inline-block;
	border: 1px solid #777;
	border-bottom: none;
	background-color: #E2D9C8;
}
#navigation li.actif {
	background-color: #fff;
}
#navigation li.indisponible a {
	color: #888;
}
#navigation li a {
	display: block;
	cursor: pointer;
	font-weight: normal;
	color: #000;
	padding: 8px;
	line-height: 1.2em;
	text-align: center;
}

/* Formulaires de création */
.dialog {
    padding-left: 245px;
}
.bloc-boutons {
	display: table;
}
.tabButton {
	display: table-cell;
	width: 250px;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    padding: 10px;
    border: 1px solid #333;
    text-align: center;
    font-weight: normal;
    background-color: #F0E9D8;
	-webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
	        border-radius: 5px;
}
.tabButton.selected {
    background-color: #E2D9C8;
    border: 3px solid #333;
    font-weight: bold;
}
.divInput {
    padding-left: 100px;
}

.general_title {
	font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    color: #736451;
    margin-bottom: 10px;
    text-align: left;
}
.general_subtitle {
    font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #000000;
    border-bottom: 1px solid #eeeeee;
}
/* Historique */
#workspace-list {
	width: 100%;
}
#workspace-list td:first-child {
	width: 50%;
}
/*

p.title {
	font-size: 1.5em;
}

p.notes {
	font-size: 0.75em;
	font-style: italic;
}
.bloc-formulaire {
	display: inline-block;
	padding: 0 1em;
	vertical-align: top;
	box-sizing: border-box;
}
.bloc-formulaire.left {
	border-right: 1px solid #AC1A1D;
}
*/