
@font-face {
  font-family: 'Alien';
  src: url('../ext/alien.eot');
  src: url('../ext/alien.eot?#iefix') format('embedded-opentype'),
       url('../ext/alien.woff') format('woff'),
       url('../ext/alien.ttf') format('truetype');
}

.selected {
  font-weight: bold;
}

.cipher {
  font-family: 'Alien';
}
textarea.cipher {
  max-width: 100%;
  resize: both;
}

.textBlock {
  font-family: monospace;
  position: relative;
  overflow-y: auto;
}
.textBlock span {
  display: inline-block;
  height: 26px;
  font-size: 20px;
  margin: 2px;
  color: #000;
  background-color: #F0F0F0;
  cursor: default;
}
.textBlock span.textSym:hover {
  color: #FFF;
  background-color: #000;
}
.textBlock span.textInsert {
 background-color: #FFF;
}
.textBlock span.textPos {
  color: #888;
  width: 60px;
  text-align: right;
  margin-right: 10px;
}
.textLine {
  position: absolute;
}
.textTopAnchor, .textBottomAnchor {
  position: absolute;
  right: 0;
  height: 1px;
  width: 1px;
  z-index: -1;
  background-color: green;
}
.textTopAnchor {
  top: 0;
}

/*

character substitutions tables

*/
.char-pairs {
	float: left;
	width: 2em;
	line-height: 2em;
	text-align: center;
}
.char-base, .char-subs {
	display: block;
}
.char-subs {
	border: 1px solid #000;
	border-left: none;
}
.char-pairs:first-child .char-subs {
	border: 1px solid #000;
}

#hint-score {
	text-align: center;
	font-weight: bold;
}

/*

 code fragments

*/
.code {
  font-family: monospace;
  font-size: 18px;
}
.code-kw {
  color: #8959A8;
}
.code-var {
  color: #C82829;
}
