
@font-face {
  font-family: 'Alien';
  src: url('../ext/alien.eot');
  src: url('../ext/alien.eot?#iefix') format('embedded-opentype'),
       url('../ext/alien.woff') format('woff'),
       url('../ext/alien.ttf') format('truetype');
}

body {
  font-family: Arial, sans-serif;
  margin: 8px 0 0;
  padding: 0;
  color: #000;
}

/* Generic elements */
a {
  color: #4D87CE;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
input {
  padding: 0 3px;
  border: 1px solid #A9A9A9;
  background-color: #fff;
}
select.placeholder {
  color: #999;
}
option {
  color: #555;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #000;
}
.title {
  font-weight: bold;
  margin-bottom: 0;
}
.selected {
  font-weight: bold;
}
.panel-heading {
  overflow: hidden;
  text-overflow: ellipsis;
}
.panel-body {
  position: relative;
}

div.section {
  margin-bottom: 20px;
}

textarea.full-width {
  width: 100%;
  max-width: 100%;
}
table {
  border: 1px solid #777;
  border-collapse: collapse;
  width: 100%;
}
table td,
table th {
  border: 1px solid #777;
  padding: 0 5px;
}
table button[type=button] {
  padding: 0 10px;
}
table input {
  margin: 3px 0;
}
table input:focus {
  box-shadow: 0px 0px 3px #ccc inset;
}
.fa-info-circle {
  color: #0f33ff;
  cursor: pointer;
}
/* radio buttons with hanging labels */
.radio-label {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}
.radio-label label {
  font-weight: normal;
}
.radio-label.radio-checked label {
  font-weight: bold;
}

/* Page layout */
.wrapper {
  max-width: 880px;
  min-width: 650px;
  margin: 0 auto;
}


.textBlock {
  font-family: monospace;
  position: relative;
  overflow-y: auto;
}
.textBlock span {
  display: inline-block;
  width: 10px;
  height: 26px;
  font-size: 20px;
  margin: 2px;
  color: #000;
  cursor: default;
  vertical-align: bottom;
}
.textBlock span.textSym {
  background-color: #F0F0F0;
}
.textBlock span.textSym:hover {
  color: #FFF;
  background-color: #000;
}
.textBlock span.textSym.q-locked {
  color: red;
}
.textBlock span.textInsert {
 background-color: #FFF;
}
.textBlock span.textPos {
  color: #888;
  width: 60px;
  text-align: right;
  margin-right: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.textBlock .textLine {
  position: absolute;
}
.textBlock .textTopAnchor, .textBlock .textBottomAnchor {
  position: absolute;
  right: 0;
  height: 1px;
  width: 1px;
  z-index: -1;
  background-color: green;
}
.textBlock .textTopAnchor {
  top: 0;
}
.textBlock .textCursor {
  border-bottom: 2px solid black;
}
.textBlock .textEnd.textCursor {
  background-color: #FFF;
}

/*

character substitutions tables

*/
.char-pairs {
	float: left;
	width: 2em;
	line-height: 2em;
	text-align: center;
}
.char-base, .char-subs {
	display: block;
}
.char-subs {
	border: 1px solid #000;
	border-left: none;
  cursor: pointer;
}
.char-subs.char-locked {
  cursor: default;
}
.char-pairs:first-child .char-subs {
	border: 1px solid #000;
}
.char-selected {
  background: #333;
  color: #fff;
}
.char-lock {
  padding: 8px;
  cursor: pointer;
}
.char-lock.char-locked {
  color: #000;
}
.char-lock.char-unlocked {
  color: #ddd;
}
.char-lock.char-unlocked:hover {
  color: #888;
}

#hint-score {
	text-align: center;
	font-weight: bold;
}

/*

 code fragments

*/
.code {
  font-family: monospace;
  font-size: 18px;
}
.code-kw {
  color: #8959A8;
}
.code-var {
  color: #C82829;
}
.code-hole {
  color: #888;
  font-style: italic;
}

/* make substitution editor scroll horizontally */
.substitution-editor-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}


/* Authentication header layout */
#auth-header {
  margin-bottom: 10px;
}
#auth-header table {
  border: 0;
}
#auth-header table td,
#auth-header table th {
  border: 0;
  padding: 0;
}
#header_logo {
  padding-bottom: 0px;
  width: 60px;
}
#header_logo img {
  width: 60px;
}
#header_score {
  width: 140px;
  padding-bottom: 10px;
}
#header_time {
  width: 160px;
  padding-bottom: 10px;
}
#header_button {
  width: 310px;
  text-align: right;
  padding-bottom: 10px;
}
#header_button input[type=button] {
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
}

/* General header layout */
#header {
  border-bottom: 1px solid #B47238;
  margin-bottom: 10px;
}
#header .wrapper {
  display: table;
  width: 100%;
}
#header-logo {
  width: 60px;
}
#navigation {
  display: table-cell;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}
#navigation li {
  display: inline-block;
  border: 1px solid #777;
  border-bottom: none;
  background-color: #F4D5D5;
  margin: 0 3px;
  -webkit-border-top-left-radius: 5px;
     -moz-border-top-left-radius: 5px;
       -o-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
     -moz-border-top-right-radius: 5px;
       -o-border-top-right-radius: 5px;
          border-top-right-radius: 5px;
}
#navigation li.actif {
  background-color: #ac1a1d;;
}
#navigation li.indisponible {
  background-color: #F4D5D5;
}
#navigation li.indisponible a {
  color: #777;
}
#navigation li.indisponible a:hover {
  text-decoration: none;
}
#navigation li a {
  display: block;
  cursor: pointer;
  font-weight: normal;
  color: #000;
  padding: 8px;
  line-height: 1.2em;
  text-align: center;
}
#navigation li.actif a {
  color: #fff;
}
#logout {
  display: table-cell;
  vertical-align: bottom;
  text-align: right;
}
#logout > span {
  display: block;
}
/* Formulaires de création */
/*
.dialog {
  padding-left: 245px;
}
*/
.tabButton {
  display: table-cell;
  width: 250px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  padding: 10px;
  border: 1px solid #333;
  text-align: center;
  font-weight: normal;
  background-color: #f0ede9;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}
.tabButton:hover {
  background-color: #d0cdc9;
  font-weight: bold;
}
.btn-tool {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  margin: 3px 0;
  padding: 3px 10px;
  border: 1px solid #333;
  text-align: center;
  font-weight: normal;
  background-color: #f0ede9;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}
.btn-tool:hover,
.btn-tool:focus {
  background-color: #d0cdc9;
}
.general_title {
  font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  color: #736451;
  margin-bottom: 10px;
  text-align: left;
}
.general_subtitle {
  font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #000000;
  border-bottom: 1px solid #eeeeee;
}
/* Historique */
.workspace-list,
.session-list {
  margin-top: 1em;
}
.workspace-list td:first-child {
  width: 50%;
}
tr.selected {
  background-color: #333;
  color: #fff;
}
a.cell-link {
  display: block;
  color: #000;
  font-weight: inherit;
}
.selected a.cell-link {
  color: #fff;
}
/* Dev elements */
.dev {
  color: #4f4;
}
.dev-buttons {
  border-bottom: 1px solid #333;
  padding: 3px;
}
.dev-buttons button {
  display: table-cell;
  font-size: 16px;
  text-decoration: none;
  color: #000;
  margin: 3px 0;
  padding: 3px 10px;
  border: 1px solid #333;
  text-align: center;
  font-weight: normal;
  background-color: #F0E9D8;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}
.dev-buttons button:hover,
.dev-buttons button:focus {
  background-color: #E2D9C8;
}

/*

    Interfaces et grilles PlayFair

*/
.panel-heading .code {
  white-space: nowrap;
}
.score {
  margin-top: 10px;
  background-color: #f5f5f5;
  padding: 10px;
  text-align: right;
  border-top: 4px solid #C82829;
}
/* Fonts */
.playFairGrid,
.playFairAlphabet,
.dialogBigram,
.bigramLetter,
.letterSubstBloc,
.bigramCipheredLetter {
  font-family: monospace;
}
/* boites de dialogue */
.dialog {
  width: 50%;
  max-width: 400px;
  background: #f0f0f0;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.dialogIndice {
  font-family: monospace;
  font-weight: bold;
}
.dialogLine {
  min-height: 2em;
}
.dialogLabel {
  font-weight: bold;
  float: left;
  width: 50%;
}
.dialogBigram {
  background-color: #fff;
  border: 1px solid #000;
  display: inline-block;
  font-size: 1.2em;
}
.dialog .bigramCipheredLetter .bigramLetter,
.dialog .dialogBigramSubstOrig .bigramLetter {
  padding: 0 10px;
}
.dialog .dialogBigramSubstOrig,
.dialog .dialogBigramSubstOrig .bigramLetter {
  background-color: transparent;
  border-color: transparent;
}
.dialogBigramSubst {
  padding: 0 5px;
}
.dialogBigramSubst input {
  width: 1.5em;
  text-align: center;
}
.dialog .substitutionLock {
  display: inline-block;
  margin-right: 4px;
  width: 29px;
  text-align: center;
}
.dialog button.lock {
  padding: 0 8px;
  margin: 0 5px 0 0;
  background-color: #fff;
}
.dialog button.lock:hover,
.dialog button.lock:focus {
  background-color: #ddd;
}
.dialog button.lock:focus {
  box-shadow: 0 0 4px #333 inset;
}
.dialog button.lock .fa-unlock-alt {
  color: #7a7;
}
.dialog button.locked {
  background-color: #7a7;
}
.dialog table,
.dialog table td {
  border: none;
}
.dialog button {
  padding: 0 10px;
}
/* variables */
.playfair-variables {
  border: 1px solid #000;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 10px;
  display: inline-block;
  width: 50%;
}
.variable-informations > span {
  font-weight: bold;
}
.variable-informations > div {
  margin-left: 5px;
}
.variable-informations .variable-label {
  float: left;
  width: 40%;
  clear: left;
  text-align: right;
  padding-right: 7px;
  display: inline-block;
}
.variable-informations .variable-name {
  display: inline-block;
  font-size: 11px;
  text-align: center;
  border: 1px solid #000;
  padding: 0 5px;
  background-color: #f4f4f4;
  max-width: 100%;
  white-space: nowrap;
  overflow: auto;
}
/* grilles */
.playFairGrid,
.playFairAlphabet,
.bigrams {
  width: auto;
  border-collapse: collapse;
}
.playFairGrid td,
.playFairAlphabet td {
  padding: 0;
}
.playFairGrid tr td, .playFairAlphabet tr td {
  width: 30px;
  height: 30px;
  font-size: 1.5em;
  text-align: center;
  border: 1px solid black;
}
.playFairGrid td.cell-conflict,
.cell-conflict {
    border: 3px solid #C82829;
}
.grillesSection {
  margin-top: 10px;
}
.blocGrille {
  display: inline-block;
  vertical-align: top;
}
.blocGrille:first-of-type {
  margin-right: 45px;
}
.y-scrollBloc {
  overflow-y: scroll;
  border: 1px solid #000;
  margin: 5px 0;
  padding: 10px;
  height: 150px;
}
.qualifier-locked {
  background-color: #D3D3D3;
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
}
.qualifier-locked::after {
  content: "\f023";
  font-family: FontAwesome;
  font-size: 11px;
  position: absolute;
  top: 2px;
  right: 2px;
  line-height: 1em;
}
.qualifier-unconfirmed {
  background-color: white;
}
.qualifier-confirmed {
  background-color: #D3D3D3;
}
.qualifier-disabled {
  background-color: #808080;
}
.cell-query {
  background-color: #000;
  color: #fff;
}
/* bigrammes */
.bigrams {
  display: inline-table;
  border: none;
  margin-right: 15px;
}
.bigrams td {
  border: none;
  padding: 0;
}
.bigrams td:first-child,
.bigrams td:last-child {
  border: 1px solid #000;
}
.bigrams td > * {
  padding: 0 4px;
  font-size: 1.6rem;
}
td .bigramLetter {
  min-width: 1em;
  display: inline-block;
  text-align: center;
}
.y-scrollBloc.bigramSubstitution {
  height: 136px;
  width: 560px;
}
.bigramSubstitution > div {
  float: left;
}
.bigramSubstitution > div:nth-child(odd) {
  margin-right: 30px;
}
/* Éléments spécifiques à l'outil Analyse de fréquence des bigrammes */
.x-scrollBloc {
  overflow-x: scroll;
  white-space: nowrap;
  border: 1px solid #000;
  margin: 5px 0;
  width: auto;
  padding: 5px;
}
.x-scrollBloc .labels {
  display: inline-block;
  padding-right: 5px;
  vertical-align: top;
}
.x-scrollBloc .labels > div {
  height: 2em;
}
#bigramFrequencyAnalysis .bigramBloc {
  display: inline-block;
  margin: 0 5px 1px;
  vertical-align: top;
}
#bigramFrequencyAnalysis .frequence {
  display: block;
  height: 2em;
  text-align: center;
}
.bigramBlocSubstitution {
  background-color: #fff;
  padding: 3px;
  border: 1px solid #fff;
}
.bigramBlocSubstitution.selectedBigram {
  background-color: #000;
  padding: 3px;
  border: 1px solid #000;
}
.selectedBigram .bigramLetter,
.selectedBigram .substitutionLock {
  color: #fff;
}
.selectedBigram .bigramLetter:nth-of-type(2) {
  color: #000;
}
.substitutionPair {
  display: inline-block;
  border: 3px solid #fff;
}
.selectedBigram .substitutionPair {
  border-color: #000;
}
.substitutionPair.substitutionConflict {
  border-color: #C82829;
}
.substitutionPair .bigramLetter {
  width: 20px;
  font-size: 1.8rem;
  border: 1px solid #000;
  padding: 0;
  display: block;
  text-align: center;
}
.substitutionPair .bigramLetter:first-of-type {
  border: none;
  background-color: transparent;
}
.substitutionPair span.substitutionLock {
  display: block;
  text-align: center;
}
.grillesSection .bigramCipheredLetter {
  height: 2em;
  min-width: 2.5em;
}
.grillesSection .bigramCipheredLetter span {
  border: 1px solid #000;
  text-align: center;
  background-color: #fff;
  display: block;
}

/* Amélioration de substitution */
#improveSubstitution .y-scrollBloc {
  height: 320px;
  padding: 0;
}
.letterSubstBloc {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 3px;
  width: 2em;
}
.letterSubstBloc.letterStatus-left {
  padding-left: 3px;
}
.letterSubstBloc.letterStatus-left .substitutionPair {
  margin-left: -4px;
}
.letterSubstBloc.letterStatus-right {
  padding-right: 3px;
}
.letterSubstBloc.selectedBigram {
  background-color: #000;
}
.letterSubstBloc.selectedBigram .bigramLetter:first-of-type.qualifier-unconfirmed {
  color: #fff;
  background-color: transparent; 
}
.letterStatus-left .cipheredLetter,
.letterStatus-right .cipheredLetter,
.letterStatus-inside .cipheredLetter {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  white-space: pre;
  background-color: #fff;
}
.letterStatus-left .cipheredLetter {
  border-left: 1px solid black;
}
.letterStatus-right .cipheredLetter {
  border-right: 1px solid black;
}
.letterSubstBloc.letterStatus-inside.selectedBigram {
  height: 109px;
}
.letterSubstBloc.letterStatus-inside .character,
.letterSubstBloc.letterStatus-outside .character {
  border: 1px solid transparent;
  margin: 2px 1px;
}
.letterSubstBloc.letterStatus-inside.selectedBigram .character,
.letterSubstBloc.letterStatus-outside.selectedBigram .character {
  color: #fff;
}
.letterSubstBloc .bigramLetter {
  display: block;
  margin: 2px 1px;
}
.substituedLetter {
  border: 1px solid #777;
  font-family: monospace;
  font-size: 1.8rem;
  margin: 2px;
  display: inline-block;
  width: 1.1em;
  height: 1.5em;
  vertical-align: top;
  text-align: center;
}
.substituedLetter.character {
  border-color: transparent;
}
/* Team tab -- access codes */
.access-code-block {
  text-align: center;
  margin: 15px 0;
}
.access-code {
  margin-right: 20px;
  vertical-align: middle;
}
.access-code .code, td.unlocked-code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  font-weight: bold;
  color: #080;
}
td.unlock-code input {
  height: 26px;
}
td.unlock-code button {
  height: 26px;
  vertical-align: bottom;
  margin-bottom: 3px;
  color: #080;
}