.adfgx-perm-selected {
  font-weight: bold;
}

.adfgx-text {
  font-family: monospace;
  max-height: 200px;
  overflow-y: auto;
}
.adfgx-bigram {
  margin: 4px 2px;
  float: left;
  border: 1px solid #ccc;
}
.adfgx-bigram > .adfgx-cell:first-child {
  margin-right: 2px;
}
.adfgx-cell {
  padding: 2px
}

.adfgx-subst-pair {
  float: left;
}
.adfgx-subst-src, .adfgx-subst-tgt {
  width: 32px;
}
.adfgx-subst-tgt:hover {
  background: #eee;
}
.adfgx-subst-tgt {
  cursor: move;
}
