.adfgx-text, .adfgx-columns {
  font-family: monospace;
  font-size: 18px;
}
.adfgx-text {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #000;
  margin: 5px 0;
  padding: 10px;
}
.adfgx-cell {
  padding: 2px
}

/*

  Tool hints

*/
.hints-title {
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}
.hints-section-title {
  font-weight: bold;
  margin-bottom: 0;
}
.adfgx-hints-grid,
.adfgx-hints-alphabet {
  display: inline-block;
  vertical-align: top;
}
.adfgx-hints-grid {
  margin-right: 45px;
}

/*

  Tool apply permutations

*/

.adfgx-columns {
  white-space: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
}
.adfgx-column {
  display: inline-block;
  margin-right: 8px;
}
.adfgx-bigram {
  margin-bottom: 3px;
  border: 1px solid #ccc;
}
.adfgx-columns .adfgx-cell {
  padding: 0 2px;
  display: block;
}

/*

  Tool enumerate permutations

*/

.adfgx-table {
  width: auto;
  float: left;
}
.adfgx-table th,
.adfgx-table td {
  border: none;
  text-align: center;
}
.adfgx-table th {
  font-weight: normal;
}
.adfgx-table td {
  cursor: pointer;
  padding: 5px;
}
.adfgx-table-scroll-body thead,
.adfgx-table-scroll-body tbody {
  display: block;
}
.adfgx-table-scroll-body tbody {
  overflow-y: auto;
  height: 140px;
}
.adfgx-table-scroll-body thead {
  border-bottom: 1px solid #000;
}
.adfgx-table-scroll-body .adfgx-col-l {
  width: 200px;
}
.adfgx-table-scroll-body .adfgx-col-m {
  width: 150px;
}
.adfgx-table-scroll-body .adfgx-col-s {
  width: 100px;
}
.adfgx-table-scroll-body .adfgx-col-sort {
  cursor: pointer;
}
.adfgx-table-scroll-body .adfgx-col-sort-key {
  font-weight: bold;
}
.adfgx-table-scroll-body .adfgx-col-sort:hover,
.adfgx-table tbody tr:hover {
  background-color: #ccc;
  color: #000;
}
.adfgx-perm-selected {
  font-weight: bold;
  background-color: #000;
  color: #fff;
}
.adfgx-permutation .adfgx-cell {
  border: 1px solid #000;
  padding: 3px 6px;
  border-left: none;
  background-color: #fff;
  font-size: 1.8rem;
}
.adfgx-permutation .adfgx-cell:first-child {
  border-left: 1px solid #000;
}
.adfgx-perm-selected .adfgx-permutation .adfgx-cell {
  color: #000;
}
/*

  Tool Frequency Analysis

*/

/* frequency labels */
.adfgx-freq-labels {
  float: left;
  width: 12em;
  text-align: right;
  font-size: 1.2rem;
  margin-right: 1em;
}
.adfgx-freq-label-freq-src span,
.adfgx-freq-label-symb-src span,
.adfgx-freq-label-symb-tgt span,
.adfgx-freq-label-freq-tgt span {
  display: table-cell;
}
.adfgx-freq-label-freq-src span {
  height: 45px;
  vertical-align: bottom;
}
.adfgx-freq-label-symb-src span {
  vertical-align: middle;
  height: 40px;
}
.adfgx-freq-label-symb-tgt span {
  height: 28px;
  vertical-align: middle;
}
.adfgx-freq-label-freq-tgt span {
  padding-top: 6px;
  vertical-align: top;
}

/* frequency display  */
.adfgx-subst-pair {
  display: inline-block;
  width: 22px;
  margin-right: 4px;
}
.adfgx-subst-freq {
  line-height: 45px;
  display: block;
  margin: 0 auto;
  width: 12px;
}
.adfgx-subst-tgt .adfgx-subst-freq {
  margin-top: 6px;
}
.adfgx-subst-freq span {
  display: inline-block;
  background-color: #333;
  width: 100%;
}
.adfgx-subst-src .adfgx-subst-freq span {
  vertical-align: bottom;
}
.adfgx-subst-tgt .adfgx-subst-freq span {
  vertical-align: top;
}
.adfgx-subst-src .adfgx-subst-chars {
  margin: 6px 0;
  display: block;
}
.adfgx-subst-src .adfgx-subst-chars span {
  display: block;
  text-align: center;
  line-height: 1;
}
.adfgx-subst-tgt {
  cursor: move;
  margin-top: 3px;
}
.adfgx-subst-tgt:hover {
  background: #eee;
}
.adfgx-subst-tgt .adfgx-subst-char {
  border: 1px solid #000;
  display: block;
  text-align: center;
  padding: 3px;
}
.adfgx-subst-tgt-frequency {
  display: block;
}
